<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<button id="searchButton">Начать извлечение данных</button>
<button id="getButton">Загрузить прошлый поиск</button>
<button id="clearButton">Очистить</button>

<p id="countResultLabel"></p> <p id="priceLabel"></p>
<p id="resultLabel"></p>
<div>
    <table id="resultTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Стоимость</th>
                <th>Аннотация</th>
                <th>Обложка</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    const searchButton = document.querySelector("#searchButton");
    const getButton = document.querySelector("#getButton");
    const clearButton = document.querySelector("#clearButton");

    const resultLabel = document.querySelector("#resultLabel");
    const countResultLabel = document.querySelector("#countResultLabel");
    const priceLabel = document.querySelector("#priceLabel");

    const renderTable = (books) => {
        const tbodyEl = document.querySelector('#resultTable > tbody');
        tbodyEl.innerHTML = null;

        books.forEach((book, idx) => {
            const trEl = document.createElement('tr');
            const tdEl = document.createElement('td');

            const idBlockCol = tdEl.cloneNode();
            const titleBlockCol = tdEl.cloneNode();
            const authorBlockCol = tdEl.cloneNode();
            const priceBlockCol = tdEl.cloneNode();
            const annotationBlockCol = tdEl.cloneNode();
            const coverBlockCol = tdEl.cloneNode();
            const coverImgEl = document.createElement('img');
            coverBlockCol.append(coverImgEl);

            idBlockCol.innerText = idx + 1;
            titleBlockCol.innerText = book.title;
            authorBlockCol.innerText = book.author;
            priceBlockCol.innerText = book.price;
            annotationBlockCol.innerText = book.annotation;
            coverImgEl.setAttribute('src', book.cover);

            trEl.append(idBlockCol);
            trEl.append(titleBlockCol);
            trEl.append(authorBlockCol);
            trEl.append(priceBlockCol);
            trEl.append(annotationBlockCol);
            trEl.append(coverBlockCol);
            tbodyEl.append(trEl);
        });
    };

    const getMidPrice = (books) => {
        const priceSum = books.reduce((acc, current) => {
            return acc += parseInt(current.price);
        }, 0);
        return (priceSum / books.length).toFixed(2);
    };

    searchButton.addEventListener('click', () => {
        searchButton.setAttribute("disabled", true);

        resultLabel.innerHTML = "Подождите, запрос выполняется...";

        fetch("/search", {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({
            })
        })
            .then((response) => {
                if (response.status !== 200) {
                    resultLabel.innerHTML = "Произошла ошибка";
                    return;
                }

                return response.json();
            })
            .then((response) => {
                const books = response.result;

                if (!books.length) {
                    resultLabel.innerHTML = "Результатов на данный запрос нет.";
                    return;
                }
                countResultLabel.innerHTML = `Всего пропарсено ${books.length}.`;

                const midPrice = getMidPrice(books);

                priceLabel.innerHTML = `Средняя цена за книгу: ${midPrice}.`;
                resultLabel.innerHTML = null;
                renderTable(books);

                searchButton.removeAttribute("disabled");
            })
            .catch((error) => {
                searchButton.removeAttribute("disabled");
                resultLabel.innerHTML = error.message || error;
            });
    });

    getButton.addEventListener('click', () => {
        getButton.setAttribute("disabled", true);

        fetch('/books', {method: 'GET'})
           .then(response => {
               if (response.status !== 200) {
                   resultLabel.innerHTML = "Произошла ошибка";
                   return;
               }

               return response.json()
           })
           .then(response => {
               const books = response.result;

               if (!books.length) {
                   resultLabel.innerHTML = "Нет данных";
                   return;
               }

               const midPrice = getMidPrice(books);

               countResultLabel.innerHTML = `Загруженно: ${books.length}.`;
               priceLabel.innerHTML = `Средняя цена за книгу: ${midPrice}.`;

               renderTable(books);

               getButton.removeAttribute("disabled");
           })
           .catch((error) => {
                getButton.removeAttribute("disabled");
                resultLabel.innerHTML = error.message || error;
           });
    });

    clearButton.addEventListener('click', () => {
        countResultLabel.innerHTML = null;
        priceLabel.innerHTML = null;
        resultLabel.innerHTML = null;
        renderTable([]);
    });
</script>
</body>
</html>